#section-3 .info-colors .first-color {
    background-color: #462446;
    padding-left: 155px;
    padding-right: 55px;
}
#section-3 .info-colors .second-color {
    background-color: #673653;
    padding-left: 180px;
    padding-right: 85px;
}
#section-3 .info-colors .third-color {
    background-color: #B0606D;
    padding-left: 180px;
    padding-right: 105px;
}
#section-3 .info-colors .fourth-color {
    background-color: #DE8275;
    padding-left: 175px;
    padding-right: 85px;
}
#section-3 .info-colors .fifth-color {
    background-color: #FF8A54;
    padding-left: 150px;
    padding-right: 60px;
}
#section-3 .info-colors .sixth-color {
    background-color: #F9C148;
    padding-left: 160px;
    padding-right: 65px;
}
#section-3 .info-colors .seventh-color {
    background-color: #70C889;
    padding-left: 165px;
    padding-right: 65px;
}
#section-3 .info-colors .eighth-color {
    background-color: #6DC3BA;
    padding-left: 204px;
    padding-right: 114px;
}
#section-3 .info-colors .nineth-color {
    background-color: #6BB6A1;
    padding-left: 200px;
    padding-right: 105px;
}